<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
        crossorigin="anonymous">
        <title>Controls</title>
        <style>
            body {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <img src="logo.png" alt="IEEE logo" width="150" height="150">
            <h1 class="mb-4">Options</h1>
            
            <a href="/createUser" class="btn btn-success">Create</a>
            <a href="/deleteUser" class="btn btn-danger">Delete</a>
            <a href="/getAllUsers" class="btn btn-primary">Get all users</a>
            <a href="/getUser" class="btn btn-info">Get user</a>
        </div>
    </body>
</html>